{# Table Header #}
{% if table.option('title') or (view is defined and table.option('definition').hasCapability(constant('araise\\CrudBundle\\Enums\\Page::EXPORT'))) or (table.filterExtension and table.filterExtension.filters|length > 0) or (table.searchExtension and table.option('searchable')) %}
    <header class="whatwedo_table:header sm:flex sm:justify-between my-3">
        <div class="whatwedo_table:header__title flex-1 min-w-0 whatwedo-utility-heading-1 sm:truncate">
            {% if table.option('title') %}
                <h1>
                    {{ table.option('title')|trans }}
                </h1>
            {% endif %}
        </div>
        <div class="mt-4 flex sm:mt-0 sm:ml-4 space-x-3 items-center {{ block is defined ? ' mr-3' : '' }}">
            {% if table.exporters|length > 0 and table.option('definition') and table.option('definition').hasCapability(constant('araise\\CrudBundle\\Enums\\Page::EXPORT')) %}
                <div
                    {{ stimulus_controller('araise/core-bundle/dropdown') }}
                    class="relative inline-block">
                    <button
                        {{ stimulus_action('araise/core-bundle/dropdown', 'toggle') | stimulus_action('araise/core-bundle/dropdown', 'close', 'keydown.esc') }}
                        {{ stimulus_controller('araise/crud-bundle/tooltip', { 'title': 'araise_table.download.tooltip'|trans } ) }}
                        class="whatwedo_table:header__button whatwedo_table:header__button--download whatwedo_table-button" tabindex="-1"
                    >
                        {{ bootstrap_icon('download', { class: 'w-4 h-4' }) }}
                    </button>
                    <div
                        {{ stimulus_target('araise/core-bundle/dropdown', 'menu') }}
                        class="p-4 z-50 hidden transition duration-300 transform origin-top-right absolute right-0 -bottom-3 transform translate-y-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5"
                        data-transition-enter-from="opacity-0 scale-95"
                        data-transition-enter-to="opacity-100 scale-100"
                        data-transition-leave-from="opacity-100 scale-100"
                        data-transition-leave-to="opacity-0 scale-95"
                        tabindex="-1"
                    >
                        <div class="space-y-2" {% if table.exporters|length > 1 %} {{ stimulus_controller('araise/table-bundle/exporter') }} {% endif %}>
                            {% if table.exporters|length > 1 %}
                                <p class="whatwedo-utility-heading-3 mb-3">{{ 'araise_table.download.choices' | trans }}</p>
                                <div>
                                    <ul role="list">
                                        {% for acronym,exporter in table.exporters %}
                                            <li>
                                                <input
                                                    type="checkbox"
                                                    id="{{ acronym }}"
                                                    name="exporter"
                                                    value="{{ acronym }}"
                                                    {% if table.exporters|length > 1 %} {{ stimulus_action('araise/table-bundle/exporter', 'select')}} {% endif %}
                                                >
                                                <label for="{{ acronym }}">{{ exporter.label | trans }}</label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <p class="whatwedo-utility-bold whitespace-nowrap mb-3 mt-3">{{ 'araise_table.download.info' | trans }}</p>
                            <div>
                                {% for label,queryParameters in {'araise_table.page' : app.request.query.all, 'araise_table.all' : {'all':1}|merge(app.request.query.all)} %}
                                    {% if block is defined and content is defined %}
                                        {% set queryParameters = queryParameters|merge({
                                            'definition': view.definition.alias,
                                            'block': block.acronym,
                                            'content': content.acronym,
                                            'entityId': app.request.attributes.get('id'),
                                        }) %}
                                    {% endif %}
                                    <a
                                        href="{{ path(table.option('definition').getRoute(constant('araise\\CrudBundle\\Enums\\Page::EXPORT')), queryParameters) }}"
                                        class="whatwedo_table:header__button whatwedo_table:header__button--download whatwedo_table-button"
                                        {% if table.exporters|length > 1 %} {{ stimulus_target('araise/table-bundle/exporter', 'link') }} {% endif %}
                                    >
                                        {{ label | trans }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if block is defined and content is defined %}
                {{ _self.add_button(content, view, isOnShow) }}
            {% endif %}

            {% if table.filterExtension and table.filterExtension.filters|length > 0 %}
                <button
                    class="whatwedo_table:header__button whatwedo_table:header__button--filter whatwedo_table-button whatwedo_table-button--filter {{ table.filterExtension.getFilterCount() > 0 ? 'araise_table-button--filter-active' : '' }} }}"
                    data-filter-count="{{ table.filterExtension.getFilterCount() }}"
                    type="button"
                    {{ stimulus_action('araise/table-bundle/filter', 'open') }}
                    {{ stimulus_target('araise/table-bundle/filter', 'triggerButton') }}
                    {{ stimulus_controller('araise/crud-bundle/tooltip', { 'title': 'araise_table.filter.tooltip'|trans } ) }}
                >
                    {{ bootstrap_icon('funnel-fill', { class: 'w-4 h-4' }) }}
                </button>
            {% endif %}

            {% if table.searchExtension and table.option('searchable') %}
                <form
                    action="{{ araise_table_path_replace_arguments({ (araise_table_parameter(table, 'page')) : 1 }) }}"
                    class="whatwedo_table:header__search inline-flex items-center"
                >
                    {% for name,value in araise_table_path_replace_arguments({ (araise_table_parameter(table, 'page')) : 1 }, true) %}
                        <input type="hidden" name="{{ name }}" value="{{ value }}">
                    {% endfor %}
                    <div class="flex rounded-md shadow-sm">
                        <div class="relative flex items-stretch flex-grow focus-within:z-10">
                            <input
                                class="whatwedo_core-input--rounded-left"
                                type="search"
                                name="{{ araise_table_parameter(table, 'query') }}" placeholder="Suchbegriff ..."
                                value="{{ table.searchExtension.query }}"
                            >
                        </div>
                        <button class="whatwedo_table-button--search" type="submit" title="Suche">
                            {{ bootstrap_icon('search', { class: 'h-4 w-4 text-neutral-400' }) }}
                        </button>
                    </div>
                </form>
            {% endif %}
        </div>
    </header>
{% endif %}

{% macro add_button(content, view, isOnShow) %}
    {% set createUrl = content.createUrl(view.data) %}
    {% if createUrl and (content.addVoterAttribute is null or is_granted(content.addVoterAttribute, view.data)) %}

        <div
            class="flex justify-end {% if not isOnShow %}{{ content.option('attr')['class'] ?? '' }}{% endif %}"
            {% if not isOnShow %}{{ attr|map((value, attr) => "#{attr}=\"#{value}\"")|join(' ')|raw }}{% endif %}
            {{ stimulus_controller('araise/core-bundle/modal-form', { formUrl: createUrl }) }}
        >
            <button
                type="button"
                class="whatwedo-crud-button--action whatwedo-crud-button--rounded"
                {{ stimulus_action('araise/core-bundle/modal-form', 'openModal') }}
                {{ stimulus_controller('araise/crud-bundle/tooltip', { 'title': 'araise_crud.relation.add'|trans } ) }}
            >
                {{ bootstrap_icon('plus', { class: 'w-6 h-6' }) }}
            </button>

            <div
                {{ stimulus_target('araise/core-bundle/modal-form', 'menu') }}
                class="hidden whatwedo-crud-modal whatwedo-utility-modal"
                data-transition-enter-from="opacity-0"
                data-transition-enter-to="opacity-100"
                data-transition-leave-from="opacity-100"
                data-transition-leave-to="opacity-0"
                role="dialog"
                aria-modal="true"
            >
                <div class="whatwedo-crud-modal__overlay whatwedo-utility-modal__overlay">
                    <div
                        class="whatwedo-crud-modal__backdrop whatwedo-utility-modal__backdrop"
                        {{ stimulus_action('araise/core-bundle/modal-form', 'close', 'click') }}
                    ></div>

                    {# This element is to trick the browser into centering the modal contents. #}
                    <span class="hidden md:inline-block md:align-middle md:h-screen" aria-hidden="true">&#8203;</span>

                    <div class="whatwedo-crud-modal__wrapper whatwedo-utility-modal__wrapper">
                        <div class="whatwedo-utility-modal__wrapper-inner">
                            <button
                                type="button"
                                class="whatwedo-crud-modal__close whatwedo-utility-modal__close"
                                {{ stimulus_action('araise/core-bundle/modal-form', 'close') | stimulus_action('araise/core-bundle/modal-form', 'close', 'keydown.esc@window') }}
                            >
                                <span class="sr-only">Close</span>
                                {{ bootstrap_icon('x', { class: 'inline w-8 h-8' }) }}
                            </button>

                            <div
                                class="whatwedo-crud-modal__body w-full"
                                {{ stimulus_target('araise/core-bundle/modal-form', 'modalBody') }}
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

